body{
 background-color: #ffffff;
 font-size: 12px;
 color: #000000;
 margin-left: auto;
 margin-right: auto;
 padding: 0;
}
#nav{

width: 588px;

margin-left: auto;
margin-right: auto;
height: 25px;
text-align: center;
}
#nav a{
padding: 0px 5px 0px 5px;
color: #000;
text-decoration: none;
font-size: 17px;
font-family:Georgia;
}
#banner{
background: #eeeeee url(header.jpg);
height: 211px;
border-bottom: 1px #000000 solid;
}
#title{
font-size: 30px;
font-weight: bold;
text-align: center;
padding:60px 0 0 0;
font-family:Georgia;
color:#013B56;
}

#nav a:hover{
color: #0A6B95;
text-decoration: underline;
}



#lt a{
color: #0000ff;
text-decoration: none;
background-color: transparent;
border: 0px;
}

#lt a:hover{
text-decoration: underline;
color: #000000;
background-color: transparent;
border: 0px;
}

input{
background-color: #cccccc;
color: #000000;
border: 1px #000000 solid;}

#content{
margin-left: auto;
margin-right: auto;
background-color: #eeeeee;
width: 588px;
border: 1px #000000 solid;
}
#content h1{
padding-left: 10px;
text-align: left;
color: #000;
display: block;
margin: 0;
font-size: 16px;
font-family:Georgia;
}

#content p{
font-size: 14px;
padding:5px 10px 5px  10px;
font-family:Times;
text-align:justify;
}
#content a{
color: #0A6B95;
text-decoration: none;
}
#content a:hover{
color: #0A6B95;
text-decoration: underline;
}

#copyright{

border-top: 1px #000000 solid;
width: 570px;
margin: auto;
padding: 3px;
text-align: right;
}
.lt{
width: 95%;
}


